body{
 margin: auto;
 height: 767px;
  width: 480px;

  
}

main{

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex;
  flex-direction: row;
  border: 2mm ridge green;
 
}
img{ 
  width: 100%;
  
  }
  section{
    text-align: center;
    padding: 5px;
    margin: 55px;
    height: 250px;
    width: 200px;
   }

   @media (min-width:768px){
    body{
      margin: auto;
      width: 768px;
     
       
     }
  
     main{
     
       margin: auto;
       display: flex;
       flex-wrap: wrap;
       align-items: flex;
       flex-direction: row;
       border: 2mm ridge green;
      
     }
     img{ 
       width: 100%;
       
       }
       section{
         text-align: center;
         padding: 5px;
         margin: 55px;
         height: 250px;
         width: 200px;
        }
     
   }
/* h1{ 
margin-top: 10px;
font-size: 40px;
text-align: center;
}
h2{
  text-align: center;
}
#options{
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 45%;
}

p{
white-space: space nowrap;;
display: block;
margin-left: 23.5%;
border: 2px solid black;
width: 50%;
text-align: center;

}
section{
float: left;
width: 33.33%;
padding: 35px;

}
section::after{
  content: "";
  clear: both;
  display: table;
}

#photo-template{
  display: none;
} */