body{
  width: 100vw;
  height: 100vh;
}
h1{ 
font-family: 'Courier New', Courier, monospace;
margin-top: 10px;
font-size: 40px;
text-align: center;
}
h2{
  text-align: center;
}
#options{
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 45%;
}
img{ 
  width: 200px;
  border: 2mm ridge palegoldenrod;
  margin-left: 30%;
  }
p{
white-space: space nowrap;;
font-family: 'Courier New', Courier, monospace;
display: block;
margin-left: 23.5%;
border: 2px solid black;
width: 50%;
text-align: center;

}
section{
float: left;
width: 33.33%;
padding: 35px;

}
section::after{
  content: "";
  clear: both;
  display: table;
}

#photo-template{
  display: none;
 
}
/* #mouflon > img{
  height: 200px;
}
 
#narwhal{
border: 2mm ridge black;

}
#rhino{
  border: 2mm ridge black;
}
#unicorn{
border: 2mm ridge black;
}
#unilego{
  border: 2mm ridge black;
}
#triceratops{
  border: 2mm ridge black;
}
#markhor{
  border: 2mm ridge black;
}
#mouflon{
  border: 2mm ridge black;
}
#addax{
  border: 2mm ridge black;
}
#chameleon{
  border: 2mm ridge black;
}
#lizard{
  border: 2mm ridge black;
}
#dragon{
  border: 2mm ridge black;
} */


